.featured {
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featureItem {
    flex: 1;
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.featuredImg1 {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.featuredImg2 {
    width: 118%;
    object-fit: cover;
    cursor: pointer;
}

.featuredImg3 {
    width: 120%;
    object-fit: cover;
    cursor: pointer;
}

.featureTitle {
    position: absolute;
    bottom: 3px;
    left: 20px;
}