.navbar {
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoImg {
    width: 5%;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}

.navButton1 {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    margin-top: 8px;
    margin-right: 5px;
}

.navItems1 {
    display: flex;
    flex-direction: row;
}