.footer {
    background-color: gray;
    width: 100%;
    font-size: 20px;
}

.fLists {
    color: white;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 8.5%;
    margin-top: 1%;
}

.fList {
    list-style: none;
}

.fListItem {
    padding-bottom: 1%;
    font-size: 17px;
    cursor: pointer;
    padding-top: 10px;
}
